
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; 
    color: #635e5e; 
    padding: 0;
    text-align: center;
}


h1 {
    color: #6a682a; 
    font-size: 3rem;}


p {
    font-size: 1.2rem;
    color:rgb(134, 176, 179); 
}


ul {
    list-style-type: none; 
    padding: 0;
}

ul li {
    background-color: #24606f; 
    margin: 5px 0;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
}
